<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liyan.mapper.SelectedcourseMapper" >
  <resultMap id="BaseResultMap" type="com.liyan.pojo.Selectedcourse" >
    <result column="courseID" property="courseid" jdbcType="INTEGER" />
    <result column="studentID" property="studentid" jdbcType="INTEGER" />
    <result column="mark" property="mark" jdbcType="INTEGER" />
  </resultMap>

  <select id="selectByExample" resultMap="BaseResultMap" parameterType="Selectedcourse" >
    select *
    from selectedcourse
  </select>

  <insert id="insert" parameterType="Selectedcourse" >
    insert into selectedcourse (courseID, studentID, mark)
    values (#{courseid,jdbcType=INTEGER}, #{studentid,jdbcType=INTEGER}, #{mark,jdbcType=INTEGER} )
  </insert>

  <delete id="deleteByExample" parameterType="Selectedcourse" >
    delete selectedcourse
    <set >
      <if test="courseid != null" >
        courseID = #{courseid,jdbcType=INTEGER},
      </if>
      <if test="studentid != null" >
        studentID = #{studentid,jdbcType=INTEGER},
      </if>
      <if test="mark != null" >
        mark = #{mark,jdbcType=INTEGER},
      </if>
    </set>
  </delete>

</mapper>